*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#000;
color:#fff;
overflow-x:hidden;
}

header{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(0,0,0,.75);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo h2{
font-family:'Cinzel',serif;
font-size:38px;
color:#d4af37;
font-weight:700;
}

nav ul{
display:flex;
list-style:none;
gap:35px;
}

nav ul li a{
color:#fff;
text-decoration:none;
font-size:17px;
transition:.3s;
}

nav ul li a:hover{
color:#d4af37;
}

.menu{
display:none;
font-size:28px;
color:#d4af37;
cursor:pointer;
}

.hero{
height:100vh;
background:url("B552DA39-9ECA-4720-BA1E-8FBDF47EA9E1.png") center center/cover no-repeat;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.45);
}

.hero-content{
position:relative;
z-index:2;
max-width:700px;
padding:20px;
}

.hero h1{
font-family:'Cinzel',serif;
font-size:85px;
color:#d4af37;
margin-bottom:10px;
}

.hero h3{
font-size:30px;
letter-spacing:4px;
margin-bottom:25px;
color:#fff;
}

.hero p{
font-size:20px;
line-height:1.8;
margin-bottom:35px;
}

.btn{
display:inline-block;
padding:18px 55px;
background:#d4af37;
color:#000;
font-weight:bold;
text-decoration:none;
border-radius:6px;
transition:.3s;
}

.btn:hover{
background:#fff;
transform:scale(1.05);
}

.features{
padding:90px 8%;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
gap:30px;
background:#080808;
}

.box{
background:#111;
padding:35px;
text-align:center;
border:1px solid #222;
transition:.4s;
border-radius:12px;
}

.box:hover{
border-color:#d4af37;
transform:translateY(-10px);
}

.box i{
font-size:45px;
color:#d4af37;
margin-bottom:20px;
}

.box h3{
margin-bottom:15px;
font-size:24px;
}

.about,
.contact{
padding:90px 10%;
text-align:center;
}

.about h2,
.contact h2{
font-size:42px;
font-family:'Cinzel',serif;
color:#d4af37;
margin-bottom:25px;
}

.about p,
.contact p{
font-size:18px;
line-height:1.8;
}

footer{
padding:30px;
text-align:center;
background:#050505;
border-top:1px solid #222;
}

@media(max-width:768px){

header{
padding:18px 20px;
}

nav{
display:none;
}

.menu{
display:block;
}

.hero h1{
font-size:52px;
}

.hero h3{
font-size:22px;
}

.hero p{
font-size:16px;
}

}
